.gallery {
  padding: 0 2em;

  @include max-width(m) {
    margin-top: 2em;
  }

  &__heading {
    margin-left: 1%;
    margin-right: 1%;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em;
    padding: 0;
  }
}
