.social {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &__link {
    display: block;
    margin: 0 0.5em;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    width: 2.5em;
  }
}
