{
  "plugins": ["prettier"],
  "extends": ["eslint-config-airbnb-base", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error"
  }
}
