<!doctype html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'design', bg: '#1aa0d1' }) %>
  </head>
  <body>
    <div class="wrapper wrapper--design">
      <%- include('../partials/header.ejs') %>
      <div id="design"></div>
      <footer class="footer footer--wide">
        <%- include('../partials/social.ejs') %>
      </footer>
    </div>
  </body>
</html>
