<!doctype html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'paint', bg: '#efc440' }) %>
  </head>
  <body>
    <div class="wrapper wrapper--paint">
      <%- include('../partials/header.ejs') %>
      <div id="paint"></div>
      <footer class="footer footer--wide">
        <%- include('../partials/social.ejs') %>
      </footer>
    </div>
  </body>
</html>
