<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content=<%= bg %>>
<title>js | <%= title %></title>
<link rel="stylesheet" href="/app.css" media="screen">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
