<ul class="menu menu--horizontal">
  <li class="menu__item">
    <a class="menu__link" href="/dev">dev</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/design">design</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/shoot">shoot</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/paint">paint</a>
  </li>
</ul>