<ul class="social">
  <li class="social__item">
    <a class="social__link" href="https://github.com/jstarmx" target="_blank">
      <img class="social__icon" src="/github.svg" alt="Github">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://twitter.com/jstarmx" target="_blank">
      <img class="social__icon" src="/twitter.svg" alt="Twitter">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://vimeo.com/jstarmx" target="_blank">
      <img class="social__icon" src="/vimeo.svg" alt="Vimeo">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://www.instagram.com/jstarmx" target="_blank">
      <img class="social__icon" src="/instagram.svg" alt="Instagram">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://www.linkedin.com/in/jstarmx" target="_blank">
      <img class="social__icon" src="/linkedin.svg" alt="Instagram">
    </a>
  </li>
</ul>
